//fonts
$FONT_FAMILY: 'Hiragino Kaku Gothic Pro',Meiryo, 'メイリオ', 'MS PGothic',sans-serif;

//text
$TEXT_BASE_COLOR: #1e2323;

//background
//$BACKGROUND_BASE_COLOR: #ccc;
//$BACKGROUND_BASE_COLOR: #2B303E;
$BACKGROUND_BASE_COLOR: #f2f2f2; //#abb0ba
$HEADER_BASE_COLOR: #fafafa;

$CONTENTSNAV_BASE_COLOR: #222932;
$CONTENTSNAV_SUB_COLOR: #545B64;

$FOOTER_BASE_COLOR: #222932;

$POPUP_HEADER_BASE_COLOR: #222932;
$POPUP_HEADER_SUB_COLOR: #545B64;


//colors
$COLOR_KEY: #c9dc67;
$COLOR_RED: #e73649; //#E9545D;
$COLOR_YEL: #ecd218; //#EFEB64;
$COLOR_GRE: #5ab546; //#7DC058;
$COLOR_LBL: #47bcc6; //#82CCDA;
$COLOR_BLU: #25489c; //#425AA7;
$COLOR_PUR: #a5559d; //#B96EA9;
$COLOR_GLY: #9F9FA0;

$COLOR_LINK: #2043C6;

$COLOR_FACEBOOK: #3B5998;
$COLOR_TWITTER:  #00acee;
$COLOR_HATENA:   #2c6ebd;
$COLOR_ETC:      #aaaaaa;
$COLOR_POCKET:   #ee4056;
$COLOR_TUMBLR:   #4b7695;
$COLOR_GPLUS:    #dd4c39;

$COLOR_AWS:      #f7981f;
$COLOR_ANDROID:  #a4c639;
$COLOR_HTML5:    #e44d26;
$COLOR_IOS:      #999999;

$MAX_SECTION_SIZE: 1200px;