@font-face {
	font-family: 'MuseoSans-500';
	src: url('../fonts/museo/260242_0_0.eot');
	src: url('../fonts/museo/260242_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/museo/260242_0_0.woff') format('woff'),
		 url('../fonts/museo/260242_0_0.ttf') format('truetype');
}